{% extends "base.html" %} {% load social_tag %} {% load static %} {% load thumbnail %} {% block content %}

<div class="section">
  <div class="row">
    <div class="col s12 m8" style="float:right;">
      <div class="card-panel">
        <h4>{{software3.title}}</h4>
        <h5 class="blue-grey-text">{{software3.version}}</h5>
        <h6 class="valign-wrapper" style="display:inline; margin-left:8px;margin-right:3px;"><i class="material-icons green-text" style="font-size:17px;">remove_red_eye</i> 255,3551,5 </h6>
        <h6 class="valign-wrapper" style="display:inline; margin-left:8px;"><i class="material-icons blue-text" style="font-size:17px;">file_download</i> 255,31,5 </h6>
        <h6 class="valign-wrapper" style="display:inline; margin-left:8px;direction: ltr;"><i class="material-icons red-text" style="font-size:17px;">date_range</i> {{software3.publish}} </h6>
        <br>
        <h6 class="valign-wrapper" style="display:inline; margin-left:8px;direction: ltr;"><i class="material-icons purple-text" style="font-size:17px;">comment</i> {{software3.countercomment}} </h6>
        <h6 class="valign-wrapper" style="display:inline; margin-left:8px;direction: ltr;"><i class="material-icons red-text" style="font-size:17px;">favorite</i> {{software3.counterlike}} </h6>

        <i class="material-icons left {% if software3|is_liked:request.user %} red-text {% else %} black-text {% endif %} like social" data-id="{{software3.id}}" data-type="Software">{% if software3|is_liked:request.user %} favorite {% else %} favorite_border {% endif %}</i>
        <i class="material-icons left green-text share social">share</i>
        <i class="material-icons left {% if software3|is_bookmarked:request.user %} blue-text {% else %} black-text {% endif %} bookmark social" data-id="{{software3.id}}" data-type="Software">{% if software3|is_bookmarked:request.user %} bookmark {% else %} bookmark_border {% endif %}</i>

        <hr>
        <p>{{software3.description|safe}}</p>
      </div>

      <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-fixed-width z-depth-1" style="border-radius: 8px;">
            <li class="tab col m3 s3"><a href="#test1">لینک دانلود</a></li>
            <li class="tab col m3 s3"><a href="#test2">سیستم مورد نیاز</a></li>
            <li class="tab col m3 s3"><a href="#test3"> اموزش نصب </a></li>
            <li class="tab col m3 s3"><a id="tab_cumment" href="#test4">نظرات</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">
          <div class="card-panel">


            {% for link in software8 %}
            <div class="black-text">
              <p style="display:inline;margin-left:20px;">{{link.os_name}}:</p>
              <a class="btn white-text light-blue darken-4" style="display:inline;margin-left:20px;padding: 5px;border-radius: 4px;" href="{{link.file.url}}">{{link.title_link}}</a>
            </div>
            <hr>
            {% endfor %}

          </div>
        </div>
        <div id="test2" class="col s12">
          <div class="card-panel">

            <p class="left_requir">{{software3.system_requirment|safe}}</p>

          </div>
        </div>
        <div id="test3" class="col s12">
          <div class="card-panel">

            <p>{{software3.tutorial_install|safe}}</p>

          </div>
        </div>
        <div id="test4" class="col s12 tabs-white-cumment">
          <div class="card-panel">
            <div class="row">

              <div class="col s12 m12">
                <div class="card-panel z-depth-2">
                  <h5 class="center">نظر خود را وارد کنید</h5>
                  <div class="input-field" style="margin-bottom: 3rem;">
                    <textarea id="cumment-val" class="materialize-textarea"></textarea>
                    <label style="left:38rem;" for="cumment-val">نظر خود را اینجا بنویسید</label>
                  </div>
                  <a href="#" id="submit-cumment" class="com-btn btn waves-effect waves-teal pink darken-4 white-text" data-id="{{software3.id}}" data-type="Software">ثبت نظر</a>
                </div>
              </div>


              <!-- <lottie-player id="asdf" src="https://assets6.lottiefiles.com/packages/lf20_fuSQvA.json" background="#FFFFFF" speed="2" style="width: 200px;height:200px;" loop autoplay></lottie-player> -->

              <div id="cumment_container" class="col m12 s12">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4" style="float:left;">
      <div class="card-panel">
        <h4 class="center pink-text" style="margin-top:0; font-size:15px;">اخرین بروز رسانی<i class="material-icons pink-text">file_download</i></h4>
        <hr>
        <ul class="collapsible scroller2" style="direction: initial;overflow-y:auto; height:555px;">
          {% for update in software4 %}
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود {{update.title}}</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <a href="{% url 'app_software:software1' update.slug %}"><span>{{update.updatedescription|truncatewords:70|safe}}</span></a>
            </div>
          </li>
          {% endfor %}

        </ul>
      </div>
      <!-- <div class="card-panel">
        <h4 class="center pink-text" style="margin-top:0; font-size:15px;">اخرین بروز رسانی<i class="material-icons pink-text">file_download</i></h4>
        <hr>

        <ul class="collapsible scroller2" style="direction: initial;overflow-y:auto; height:555px;">
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons blue-text">keyboard_arrow_down</i>دانلود Symantec Endpoint Protection</div>
            <div class="collapsible-body" style="text-align: right;font-size: 15px;">
              <img style="height: 152px;width: 100%;" src="https://materializecss.com/images/sample-1.jpg" alt="">
              <hr>
              <span>امروزه بسیاری از شرکت های نرم افزاری با توجه به نیاز کاربران در زمینه های مختلف امنیتی و نیاز به ابزارهای گوناگون به منظور برقراری امنیت در سیستم ها، اقدام به تولید مجموعه های نرم افزاری می نمایند که در آن ها ابزارهای مختلف امنیتی گردآوری شده اند و کاربران در این نرم افزارها در واقع با یک مرکز کنترل... </span>
            </div>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>


{% endblock content %} {% block js %} {{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    $('.fixed-action-btn').floatingActionButton();

    $('#submit-cumment').on('click', function(event) {
      event.preventDefault()
      cumment = $('#cumment-val').val()
      console.log(cumment)
      $.post({
        url: "{% url 'app_api:cumment' %}",
        headers: {
          'X-CSRFToken': '{{csrf_token}}'
        },
        data: {
          'id': $(this).data('id'),
          'type': $(this).data('type'),
          'value': cumment

        },
        success: function(response) {
          console.log(response)
          M.toast({
            html: response.message
          })
          $('#cumment-val').val('')

        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });

    $('.bookmark').on('click', function() {
      if ($(this).text() == 'bookmark') {
        $(this).text('bookmark_border')
        $(this).addClass('black-text').removeClass('blue-text')
      } else {
        $(this).text('bookmark')
        $(this).addClass('blue-text').removeClass('black-text')
      }
      $.post({
        url: "{% url 'app_api:bookmark' %}",
        data: {
          'id': $(this).data('id'),
          'type': $(this).data('type'),
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          console.log(response)
          M.toast({
            html: response.message
          })

        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });


    $('.like').on('click', function() {
      if ($(this).text() == 'favorite') {
        $(this).text('favorite_border')
        $(this).addClass('black-text').removeClass('red-text')
      } else {
        $(this).text('favorite')
        $(this).addClass('red-text').removeClass('black-text')
      }
      $.post({
        url: "{% url 'app_api:like' %}",
        data: {
          'id': $(this).data('id'),
          'type': $(this).data('type'),
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          console.log(response)
          M.toast({
            html: response.message
          })

        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });


    $('.share').on('click', function() {
      $(this).css('color', 'red')
    });



    $('#tab_cumment').on('click', function(event) {
      $.get({
        url: "{% url 'app_api:cumment_display' %}?id={{software3.id}}&type=Software",
        success: function(response) {

          $('#cumment_container').empty()
          $.each(response, function() {
            main_cum_id = $(this)[0]['id']
            avatar = $(this)[0]['avatar']
            value = $(this)[0]['value']
            user_fullname = $(this)[0]['user_fullname']
            publish = $(this)[0]['publish_date']
            com =
            `<div class="col s12">
            <div class="card-panel thin-card" style="border: 1px solid #d2d2d2;position:relative;">
            <span class="left indigo-text darken-4" style="position:absolute;left:10px;bottom:10px;">${publish}</span>
            <div class="row">
            <div class="valign-wrapper">
            <div class="col m2 center">
            <img class="circle responsive-img avatar-in-cumment"
            src="${avatar}" alt="">
            <div style="font-family: vazir-thin;font-size: 12px;margin-right: -4px;">${user_fullname}</div>
            </div>
            <div class="col m11">
            <span class="action-cument">
            <a class="left indigo-text darken-4 tooltipped" data-position="top" data-tooltip="مخالف" href="#"><i
            class="material-icons">thumb_down</i></a>
            <a class="left indigo-text darken-4 tooltipped" data-position="top" data-tooltip="موافق" href="#"><i
            class="material-icons">thumb_up</i></a>

            <a id="${main_cum_id}" class="comment-rep-btn left indigo-text darken-4 tooltipped" data-position="top"
            data-tooltip="پاسخ" href="#"><i class="material-icons">reply</i></a>

            </span>
            <p style="font-size="14px;">${value}<p>
            </div>
            </div>
            </div>
            </div>
            </div>

            <div style="display:none;" class="all comment-rep${main_cum_id}">

            <div class="col s12 m12">
            <div class="card-panel z-depth-2">
            <h5 class="center">پاسخ به نظر ${user_fullname}</h5>
            <div class="input-field" style="margin-bottom: 3rem;">
            <textarea id="reply-${main_cum_id}" class="materialize-textarea"></textarea>
            <label style="left:38rem;" for="reply-${main_cum_id}">نظر خود را اینجا بنویسید</label>
            </div>

            <a href="#" id="${main_cum_id}" class="const white-text btn com-btn pink darken-4" data-id="${main_cum_id}" data-type="Cumment">ثبت پاسخ</a>
            </div>
            </div>
            </div>
            `
            $.each($(this)[0]['reply'], function() {
              avatar = $(this)[0]['avatar']
              value = $(this)[0]['value']
              user_fullname = $(this)[0]['user_fullname']
              reply = `
              <div class="col m11">
              <div class="card-panel thin-card" style="border: 1px solid #d2d2d2;background-color: #eee; position:relative;">
              <span class="left indigo-text darken-4" style="position:absolute;left:10px;bottom:10px;">${publish}</span>
              <div class="row">
              <div class="valign-wrapper">
              <div class="col m2 center">
              <img class="circle responsive-img avatar-in-cumment"
              src="${avatar}" alt="">
              <div style="font-family: vazir-thin;font-size: 12px;margin-right: -4px;">${user_fullname}</div>
              </div>
              <div class="col m11">
              <span class="action-cument">
              <a class="left indigo-text darken-4 tooltipped" data-position="top" data-tooltip="مخالف" href="#"><i
              class="material-icons">thumb_down</i></a>
              <a class="left indigo-text darken-4 tooltipped" data-position="top" data-tooltip="موافق" href="#"><i
              class="material-icons">thumb_up</i></a>
              </span>
              <p>${value}</p>
              </div>
              </div>
              </div>
              </div>
              </div>`
              com += reply
            });

            // $('#cumment_container').append(com).hide();
            // $('#asdf').fadeOut(200, function() {
            //   $('#cumment_container').fadeIn(200);
            // });

            $('#cumment_container').append(com);
            $('.tooltipped').tooltip();

          });

$(".comment-rep-btn").click(function(event){
  event.preventDefault();
  repid = $(this).attr('id')
  $(".comment-rep"+repid).fadeToggle();
});

$('.const').on('click', function(e){
  e.preventDefault()
  cards = $(this).attr('id')
  console.log(cards)
  cumment = $('#reply-' + cards).val()
  console.log(cumment)
  $.post({
    url: "{% url 'app_api:cumment' %}",
    headers: {
      'X-CSRFToken': '{{csrf_token}}'
    },
    data: {
      'id': $(this).data('id'),
      'type': $(this).data('type'),
      'value': cumment
    },
    success: function(response) {
      console.log(response)
      M.toast({
        html: response.message
      })
      $('#reply-' + cards).val('')
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log(textStatus, errorThrown);
    }
  });
});
},
error: function(jqXHR, textStatus, errorThrown) {
  console.log(textStatus, errorThrown);
}
});
});
});
</script>
{% endblock js %}







<!-- <div id="modal${main_cum_id}" class="modal">
            <div class="modal-content">
            <h4>پاسخ به نظر ${user_fullname}</h4>
            <div class="row">
            <div class="input-field col s12">
            <textarea id="reply-val-${main_cum_id}" class="materialize-textarea"></textarea>
            <label for="reply-val-${main_cum_id}">نظر خود را اینجا بنویسید</label>
            </div>
            </div>

            </div>

            <div class="modal-footer">
            <a href="#!" data-id="${main_cum_id}" data-type="Cumment" id="submit-reply-${main_cum_id}" class="modal-close waves-effect waves-green btn-flat">ثبت</a>
            </div>
            </div> -->