{% extends 'base.html' %}
{% block landing %}{% endblock landing %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
	<div class="section">
		<div class="row">
			<div class="col m6 offset-m3">
				<div class="card-panel">
					<h3 class="center">ورود</h3>
					<hr>
					<form method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<p>اگر حساب کاربری ندارید ثبت نام کنید.</p>
						<button class="waves-effect waves-light btn-small" type="submit">ورود</button>
						<a class="waves-effect waves-light btn-small" href="{% url 'app_account:signup' %}">ثبت نام</a>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}




