{% extends "dash_base.html" %}
{% load static %}
{% block content %}



<div class="container">
	<div class="section">
		<div class="row">
			<h5 class="dashtitle z-depth-2">درخواست های من</h5>
			<div class="card-panel z-depth-2" style="background-color: #820061;color:white;font-size: 14px;">
				<p><i class="material-icons">keyboard_arrow_left</i>لطفا نام کامل برنامه و یا نرم افزار مورد نظر خود را در فورم زیر وارد کنید.</p>
				<p><i class="material-icons">keyboard_arrow_left</i>برای بهبود روند رسیدگی به درخواست ، لطفا ادرس url سایت اصلی برنامه را در قسمت توضیحات وارد نمایید.</p>
			</div>
			<form method="POST">
				<div class="card-panel z-depth-2" style="background-color: #eee;">
					{{form.as_p}}
					{% csrf_token %}
					<button class="waves-effect waves-light  purple darken-4 btn-small" name="submit" type="submit">ارسال</
					</div>
				</form>
				<hr>
			</div>
			<div class="card-panel z-depth-2" style="background-color: #eee;">
					<table class="highlight" style="font-size: 13px;">
						<thead>
							<tr>
								<th>نام</th>
								<th>توضیحات</th>
								<th>وضعیت رسیدگی</th>
								<th>نتیجه درخواست</th>
								<th>تاریخ</th>
							</tr>
						</thead>
					{% for requ in disrequest %}
						<tbody>
							<tr>
								<td>{{requ.softname}}</td>
								<td>{{requ.description|truncatechars:80}}</td>
								{% if requ.request_status %}
									<td class="green-text"><i class="material-icons">visibility</i></td>
								{% else %}
									<td class="red-text"><i class="material-icons">visibility_off</i></td>
								{% endif %}
								{% if requ.adminresult %}
									<td>{{requ.adminresult}}</td>
								{% else %}
									<td></td>
								{% endif %}
								<td>{{requ.publish_date}}</td>
							</tr>
						</tbody>
					{% endfor %}
					</table>
			</div>
		</div>
	</div>


	


	{% endblock content %}